
\.idea/

muserver\.iml

database-dialect/target/
database-dialect/*.iml
database-dialect/dependency-reduced-pom.xml

muserver-common/target/
muserver-common/*.iml
muserver-common/dependency-reduced-pom.xml

muserver-connectserver/target/
muserver-connectserver/*.iml
muserver-connectserver/dependency-reduced-pom.xml

muserver-dataserver/target/
muserver-dataserver/*.iml
muserver-dataserver/dependency-reduced-pom.xml

muserver-gameserver/target/
muserver-gameserver/*.iml
muserver-gameserver/dependency-reduced-pom.xml

muserver-joinserver/target/
muserver-joinserver/*.iml
muserver-joinserver/dependency-reduced-pom.xml

muserver-startup/target/
muserver-startup/*.iml
muserver-startup/dependency-reduced-pom.xml

muserver-tests/target/
muserver-tests/*.iml
muserver-tests/dependency-reduced-pom.xml
