
\.idea/

muserver\.iml

database-dialect/target/
database-dialect/*.iml
database-dialect/dependency-reduced-pom.xml

muserver-common/target/
muserver-common/*.iml
muserver-common/dependency-reduced-pom.xml

muserver-connectserver/target/
muserver-connectserver/*.iml
muserver-connectserver/dependency-reduced-pom.xml

muserver-joinserver/target/
muserver-joinserver/*.iml
muserver-joinserver/dependency-reduced-pom.xml

muserver-logger/target/
muserver-logger/*.iml
muserver-logger/dependency-reduced-pom.xml

muserver-tests/target/
muserver-tests/*.iml
muserver-tests/dependency-reduced-pom.xml

muserver-utils/target/
muserver-utils/*.iml
muserver-utils/dependency-reduced-pom.xml
