<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
 <Appenders>
  <Console name="Stdout" target="SYSTEM_OUT">
   <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
  </Console>
 </Appenders>
 <Loggers>
  <Root level="OFF">
   <AppenderRef ref="Stdout"/>
  </Root>
 </Loggers>
</Configuration>